<app-navbar></app-navbar>


<div class="mt-[11vh]"></div>

<div class="main flex justify-around items-center flex-wrap w-[100vw]">
    <div class="left w-[80%] sm:w-[50%] sm:pl-24 min-w-[250px]">
        <div class="text-3xl font-bold sm:text-6xl sm:leading-normal overflow-hidden">Buy your Shopping With Us</div>
        <div class="mt-8">Get Amazing Deals, Free Shipping on bulky goods and Exclusive Rewards. Members Get Random Shopping Vouchers Monthly</div>
        <div class="buttons flex gap-12 mt-8">
            <!--<button class="px-4 py-2 bg-blue-600 border-none hover:bg-blue-800 text-white rounded-xl">Contact Us</button> -->
            <a href="" class="py-2 text-blue-600 transition ease-in-out delay-150 hover:-translate-x-1">Explore More</a>
        </div>
    </div>
    <div class="right w-[100%] flex justify-center sm:w-[50%] sm:pl-20">
        <img src="https://i.pinimg.com/originals/39/79/6a/39796ac6bf7fb5abd5814c8f61bf3ab1.gif" class="w-[270px]" alt="">
    </div>
</div>

<app-view-products></app-view-products>

<app-add-product></app-add-product>

 